#commands {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, auto);
    padding-top: 10px;
}

#commands > div {
    padding: 2px 3px;
}

#commands .header {
    color: #0b8b8c;
}

#commands .section {
    grid-column-end: span 3;
    font-size: 18px;
    color: #0b8b8c;
    padding: 5px 0;
}

#commands .command, #commands .example {
    font-family: monospace;
    background-color: #cccccc;
}
